.category_wrapper {
  padding: 0 50px;
  margin-top: 70px;
  margin-bottom: 50px;

  .top_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 0;
    }

    .title {
      font-size: 24px;
      font-weight: 700;

      @media (max-width: 768px) {
        padding-left: 10px;
      }
    }

    >div {
      @media (max-width: 768px) {
        display: flex;
        margin-top: 15px;
      }

      button.active {
        padding: 10px 20px;
        border-radius: 45px;
        background-color: #ffe484;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: black;
      }

      button {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 45px;
        color: var(--color-text);
      }
    }
  }

  .card_wrapper {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    position: relative; // Ensure the overlay is positioned relative to the card_wrapper

    .img_w {
      background-color: var(--second-bg);
      border-radius: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
      height: 100%;
      position: relative; // Ensure the overlay is positioned relative to the image container

      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 15px;
      }

      .size_overlay {
        position: absolute;
        width: 70%;
        bottom: 20px;
        left:15%;
        right: 0;
        height: 80px;
        border-radius: 13px;
        background-color: white;
        color: black;
        text-align: center;
        padding: 10px;
        opacity: 0; // Start as hidden
        transition: opacity 0.3s ease;
        font-size: 16px;

        @media (max-width: 768px) {
          width: 50%;
          left: 25%;
        }

        .size {
          font-weight: 600;
        }

        .size__cont{
          display: flex;
          justify-content: center;
          gap: 15px;
          margin-top: 10px;

          p{
            background-color: #ECECEC;
            border-radius: 8px;
            color: black;
            padding: 5px;
            cursor: pointer;
          }
        }
      }
    }

    &:hover .img_w .size_overlay {
      opacity: 1; // Show the overlay on hover
    }

    .c_title {
      font-size: 20px;
      font-weight: 600;
      margin-top: 10px;
    }

    .price {
      font-weight: 500;
      font-size: 20px;
    }
  }

  :global {

    .slick-next,
    .slick-prev {
      width: fit-content;
      height: fit-content;
    }

    .slick-next:before,
    .slick-prev:before {
      content: "";
    }
  }
}

@keyframes jump {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.customPrevArrow,
.customNextArrow {
  top: 38%;
  z-index: 2;
  animation: jump 1s infinite;
  animation-play-state: running;
}

.customPrevArrow {
  left: 45px;

  @media (max-width: 768px) {
    left: 15px;
  }
}

.customNextArrow {
  right: 45px;

  @media (max-width: 768px) {
    right: 15px;
  }
}

.customPrevArrow:hover,
.customNextArrow:hover {
  animation-play-state: paused;
}

.colors {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

  >div {
    width: 17px;
    height: 17px;
    border-radius: 38px;
    cursor: pointer;
  }
}