.faq {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .text__block h2 {
    width: 100%;
    font-size: 40px;
    margin-bottom: 20px;
    color: #000000;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    position: relative;
  }

  .text__block {
    width: 60%;
  }
  
  .line {
    width: 75%;
    background-color: #FFE484;
    height: 2px;
  }
  
  .items__cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .faq {
      flex-direction: column;
      align-items: center;
    }

    .line{
        display: none;
    }
  
    .text__block h2 {
      font-size: 30px;
      line-height: 30px;
    }
  
    .line {
      width: 100%;
    }
  
    .items__cont {
      width: 100%;
      align-items: flex-start;
    }
  
    .faqItem {
      width: 90%;
    }
  
    .question, .inactiveQuestion {
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .question .qTitle, .inactiveQuestion .qTitle {
      font-size: 20px;
    }
  
    .question {
      font-size: 16px;
    }
  
    .answer {
      padding: 20px 16px;
    }
  
    .answer p {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .faq {
      padding: 30px 0;
    }
  
    .text__block h2 {
      font-size: 24px;
      line-height: 24px;
    }
  
    .line {
      width: 100%;
    }
  
    .items__cont {
      width: 100%;
      align-items: flex-start;
    }
  
    .faqItem {
      width: 100%;
    }
  
    .question, .inactiveQuestion {
      padding-left: 12px;
      padding-right: 12px;
    }
  
    .question .qTitle, .inactiveQuestion .qTitle {
      font-size: 18px;
    }
  
    .question {
      font-size: 14px;
    }
  
    .answer {
      padding: 15px 12px;
    }
  
    .answer p {
      font-size: 12px;
    }
  }