.App.dark {
    --bg-color: black;
    --color-text: #BABABA;
    --second-bg: #242424;
    --faqNum: #3E3E3D26;
    --active-faq: #3E3E3D26;
    --desc-color: #C2C2C2;
    --question-color: #242424;
}